.dashboard__stats {
  display: flex;
  padding: clamp(1rem, 3vw, 3rem);
  justify-content: space-evenly;
}

.stat-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard__stat {
  color: rgb(47, 86, 166);
}
.top_complaint {
  font-weight: bold;
}
